body{
    background-color: #6b5b95;
    font-family: monospace;
    font-size: large;
}
.idk {
    margin: auto;
    width: 20em;
    border: 3px solid #DE3163;
    box-shadow: 9px 6px 4px #5B2C6F;
    padding: 7px 11px;
    background-image: linear-gradient(150deg, #EAFAF1 , #E8DAEF 30%,#E5E8E8 )
}